@font-face {
    font-family: 'FontAwesome';
    src: url('../../assets/fonts/Font-Awesome-6-Free-Regular-400.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Barlow';
    src: url('../../assets/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('../../assets/fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
} 